.html-icons { background: url('html-icons.png') no-repeat top left; width: 48px; height: 48px; margin-top: 5px; } 
.html-icons.button { background-position: 0px 0px;  } 
.html-icons.container { background-position: 0px -58px;  } 
.html-icons.heading { background-position: 0px -116px;  } 
.html-icons.input { background-position: 0px -174px;  } 
.html-icons.link { background-position: 0px -232px;  } 
.html-icons.list { background-position: 0px -290px;  } 
.html-icons.paragraph { background-position: 0px -348px;  } 
.html-icons.image { background-position: 0px -406px;  }